*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  height: auto;
  min-height: 100vh;
  width: auto;
  min-width: 100vw;
}

body{
  font-family: sans-serif;
  font-size: 14px;
  background-color: #121212;
}

button{
  cursor: pointer;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}